.my-card:hover{
    transform: scale(1.1);
    transition: 0.2s ease-in-out;
}

.space{
    padding-top:195px;
}

.notification {
  background-color: orange;
  color: white;
  text-decoration: none;
  padding: 4px 24px;
  margin-right: 20px;
  margin-left: 20px;
  position: relative;
  display: inline-block;
  border-radius: 2px;
  font-size: 20px;
}

.notification:hover {
  background: green;
  color: #fff;
}

.notification .badge {
  position: absolute;
  top: -10px;
  right: -10px;
  padding: 8px 8px;
  border-radius: 50%;
  background: red;
  color: white;
}

.notification-section .dropdown-toggle::after {
  content: none;
}

.dropdown-toggle::after {
  color: #fff;
}

#notifications-dropdown li {
  max-width: 500px;
  word-wrap: break-word;
  display: inline-block;
  white-space: normal;
}

#notifications-dropdown.dropdown-menu {
  width: 15rem;
}