{% extends 'body/base.html' %}  
{% block title %}Inventory{% endblock  %}
{% load crispy_forms_tags %}
{% block content %}

<div class="container-fluid">
    <!-- Page Heading -->
    <div class="d-sm-flex align-items-center justify-content-between mb-4">
        <h1 class="h3 mb-0 text-gray-800" style='margin-top:20px;'>{{vendor.first_name}}</h1>
    </div>
    <div class='row' style=''>
      <div class="col-xl-3 col-md-6 mb-4">
        <div class="card border-left-warning shadow h-100 py-2">
          <div class="card-body">
            <div class="row no-gutters align-items-center">
              <a class="col mr-2 text-primary m-0 font-weight-bold" data-toggle="modal" data-target="#exampleModal" href='#'>
                <div
                  class="text-xs font-weight-bold text-primary text-uppercase mb-1"
                >
                  Add Weekly
                </div>
                <div class="h5 mb-0 font-weight-bold text-gray-800">
                  Budget 
                </div>
              </a>
              <div class="col-auto">
                <i class="fas fa-plus fa-2x text-gray-300"></i>
              </div>
            </div>
          </div>
        </div>
      </div>

      <!-- Total Expenses -->
      <div class="col-xl-3 col-md-6 mb-4">
        <div class="card border-left-danger shadow h-100 py-2">
          <div class="card-body">
            <div class="row no-gutters align-items-center">
              <div class="col mr-2">
                <div
                  class="text-xs font-weight-bold text-primary text-uppercase mb-1"
                >
                  Weekly Budget
                </div>
                <div class="h5 mb-0 font-weight-bold text-gray-800">
              
                  ${{ get_budget }} 
                
                </div>
              </div>
              <div class="col-auto">
                <i class="fas fa-box fa-2x text-gray-300"></i>
              </div>
            </div>
          </div>
        </div>
      </div>
  
      <!-- Total Orders -->
      <div class="col-xl-3 col-md-6 mb-4">
        <div class="card border-left-danger shadow h-100 py-2">
          <div class="card-body">
            <div class="row no-gutters align-items-center">
              <div class="col mr-2">
                <div
                  class="text-xs font-weight-bold text-primary text-uppercase mb-1"
                >
                  Total Expenses
                </div>
                <div class="h5 mb-0 font-weight-bold text-gray-800">
                  ${{ get_expenses }}
                </div>
              </div>
              <div class="col-auto">
                <i class="fas fa-box fa-2x text-gray-300"></i>
              </div>
            </div>
          </div>
        </div>
      </div>

      

       <!-- Total Expenses -->
       <div class="col-xl-3 col-md-6 mb-4">
        <div class="card border-left-danger shadow h-100 py-2">
          <div class="card-body">
            <div class="row no-gutters align-items-center">
              <div class="col mr-2">
                <div
                  class="text-xs font-weight-bold text-primary text-uppercase mb-1"
                >
                  Remaining Balance
                </div>
                <div class="h5 mb-0 font-weight-bold text-gray-800">
                  ${{ calculate_expenses }} 
                </div>
              </div>
              <div class="col-auto">
                <i class="fas fa-box fa-2x text-gray-300"></i>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

</div>

<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Add Weekly Budget</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <form method="POST">
        <div class="modal-body">
            {% csrf_token %}
            <div class='col-md-8'>
              <div>
                <label>Curreny Type</label>
                <input type="text" name='currency' class="form-group" value='USD' required>
              </div>
              <div>
                <label>Amount</label>
                <input type="number" name='amount' class="form-group" required>
              </div>
            </div>
        </div>
        <div class="modal-footer">
          <a class="btn btn-danger" href="{% url 'reset-budget' %}">Reset</a>
          <button class="btn btn-success">Submit</button>
        </div>
        </form>
      </div>
    </div>
  </div>

  <style type="text/css">
    input{
      width: 100%;
      padding: 12px;
      border: 1px solid #ccc;
      border-radius: 4px;
      box-sizing: border-box;
      margin-top: 6px;
      margin-bottom: 16px;
      resize: vertical;
  }
  a:link {
    text-decoration: none;
  }
  
  a:visited {
    text-decoration: none;
  }
  
  a:hover {
    text-decoration: none;
  }
  
  a:active {
    text-decoration: none;
  }
  </style>

{% endblock %}
