{% extends 'body/base.html' %}  
{% block title %}Users{% endblock  %}
{% block content %}

<div class="container-fluid">
    <!-- Page Heading -->
    <div class="d-sm-flex align-items-center justify-content-between mb-4">
        <h1 class="h3 mb-0 text-gray-800" style='margin-top:20px;'>Users</h1>
    </div>
    <div class="card shadow mb-4" style='margin-top:30px;'>
        <div class="card-header py-3">
            <h6 class="m-0 font-weight-bold text-primary">Available Users</h6>
        </div>
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                    <thead class='bg-info'>
                        <tr class="text-white">
                            <th scope="col">#</th>
                            <th scope="col">Username</th>
                            <th scope="col">Supplier Name</th>
                            <th scope="col">Email</th>
                            <th scope="col">Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for p  in customers  %}
                        <tr>
                            <td>{{forloop.counter}}</td>
                            <td>{{ p.username }}</td>
                            <td>{{ p.first_name }}</td>
                            <td>{{ p.email }}</td>
                            <td>
                                <a class="btn btn-info btn-sm" href="{% url 'update-user' p.id %}">Edit</a>
                            </td>
        
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

{% endblock  %}