{% extends 'body/base.html' %}  
{% block title %}Orders{% endblock  %}
{% block content %}

<div class="container-fluid">
    <!-- Page Heading -->
    <div class="d-sm-flex align-items-center justify-content-between mb-4">
        <h1 class="h3 mb-0 text-gray-800" style='margin-top:20px;'>My Orders</h1>
    </div>
    <div class="card shadow mb-4" style='margin-top:30px;'>
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                    <thead class='bg-info'>
                        <tr class="text-white">
                            <th scope="col">#</th>
                            <th scope="col">Order Number</th>
                            <th scope="col">Status</th>
                            <th scope="col">Date Ordered</th>
                            <th scope="col">Action</th>
                        </tr>
                    </thead>
                    <tbody>
            {% if orders %}
            {% for order in orders %}
                    <tr>
                        <td>{{forloop.counter}}</td>
                       <!--<td><a href=" 'order_detail' order.id ">#ORDER_{{order.id}}</a></td>-->
                        <td><a href="{% url 'customer-order-details' order.id %}">#ORDER_{{order.id}}</a></td>
                        <td>{{order.first_name }} {{order.status}}</td>
                        <td>{{order.created_at|timesince }}</td>
                        <td>
                            <a class="btn btn-danger btn-sm" href="{% url 'customer-order-details' order.id %}">View</a>
                        </td>
                    </tr>
            {% endfor %}
            {% endif %}
                    </tbody>
                </table>
            </div>
            
        </div>    
    </div>
</div>

{% endblock  %}