{% extends 'body/base.html' %}  
{% block title %}Orders{% endblock  %}
{% block content %}

<div class="container-fluid">
    <!-- Page Heading -->
    <div class="d-sm-flex align-items-center justify-content-between mb-4">
        <h1 class="h3 mb-0 text-gray-800" style='margin-top:20px;'>Order Details</h1>
    </div>
    
    <div class="card shadow mb-4" style='margin-top:30px;'>
        <div class="card-header py-3">
            
        </div>
        <div class="card-body">
            <div class='table-responsive'>
                    <table class="table bg-white table-borderless">
                        <tbody>  
                            <tr>
                                <th scope="row">Ordered By</th>
                                <td>{{details.first_name}} {{details.last_name }}</td>
                            </tr>
                            <tr>
                                <th scope="row">Date Ordered</th>
                                <td>{{details.created_at }}</td>
                            </tr>
                            <tr>
                                <th scope="row">Email</th>
                                <td>{{details.email }}</td>
                            </tr>
                            <tr>
                                <th scope="row">Phone Number</th>
                                <td>{{details.phone }}</td>
                            </tr>
                            <tr>
                                <th scope="row">Delivery Address</th>
                                <td>{{details.address }}</td>
                            </tr>
                            <tr>
                                <th scope="row">Payment Method</th>
                                <td>{{details.payment_method }}</td>
                            </tr>
                            <tr>
                                <th scope="row">Order Status</th>
                                <td>{{details.order_status }}</td>
                            </tr> 
                            <tr>
                                <th scope="row">Total Amount</th>
                                <td>$ {{details.paid_amount }}</td>
                            </tr>   
                        </tbody>
                    </table>
                    <hr />
                    <div class="div-table">
                        <div class="div-table-row">
                            <div class="div-table-col edit">Supplier</div>
                           <div class="div-table-col edit">Product</div>
                           <div  class="div-table-col edit">Price</div>
                           <div  class="div-table-col edit">Quantity</div>
                           <div  class="div-table-col edit">Total Price</div>
                        </div>
                        {% for item in details.items.all %}
                        {% if item.customer == request.user.customer %}
                       <div class="div-table-row">
                        <div class="div-table-col">{{ item.product.vendor }}</div>
                        <div class="div-table-col">{{ item.product.title }}</div>
                        <div class="div-table-col">{{ item.product.price }}</div>
                        <div class="div-table-col">{{ item.quantity }}</div>
                        <div class="div-table-col">{{ item.get_total_price }}</div>
                       </div>
                       {% endif %}
                       {% endfor %}
                    </div>
                    <div style='margin-top:20px;'></div>
            </div>
        </div>    
    </div>
</div>
<style type='text/css'>
    .div-table {
        display: table;         
        width: auto;         
        background-color: #eee;         
        border: 1px solid #666666;         
        border-spacing: 5px; /* cellspacing:poor IE support for  this */
      }
      .div-table-row {
        display: table-row;
        width: auto;
        clear: both;
      }
      .div-table-col {
        float: left; /* fix for  buggy browsers */
        display: table-column;         
        width: 200px;         
        background-color: #ccc;
          
      }
      .edit{
        font-weight:bold;
        text-transform: uppercase;
      }
</style>

{% endblock  %}