{% extends 'body/base.html' %}  
{% block title %}Messages{% endblock  %}
{% load crispy_forms_tags %}
{% block content %}


<div class="container-fluid">
    <!-- Page Heading -->
    <div class="d-sm-flex align-items-center justify-content-between mb-4">
        <h1 class="h3 mb-0 text-gray-800" style='margin-top:20px;'>Messages</h1>
    </div>
    <div class="card shadow mb-4" style='margin-top:30px;'>
        <div class="card-header py-3">
            <h6 class="m-0 font-weight-bold text-primary">Available Messages</h6>
        </div>
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                    <thead class='bg-info'>
                        <tr class="text-white">
                            <th scope="col">#</th>
                            <th scope="col">Send By</th>
                            <th scope="col">Email</th>
                            <th scope="col">Subject</th>
                            <th scope="col">Date Received</th>
                            <th scope="col">Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for view_msg  in view_msg  %}
                        <tr>
                            <td>{{forloop.counter}}</td>
                            <td>{{ view_msg.user.username }}</td>
                            <td>{{ view_msg.user.email }}</td>
                            <td>{{ view_msg.subject }}</td>
                            <td>{{ view_msg.date_sent }}</td>
                            <td>
                                <a class="btn btn-info btn-sm" href="{% url 'view-message' view_msg.id %}">View</a>
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>   
        </div>
    </div>
</div>

{% endblock %}