{% extends 'body/base.html' %} 
{% block title %}Home{% endblock %} 
{% load crispy_forms_tags %} 
{% block content %}

<div class="container-fluid">
  {% if user.is_staff %}
  <!-- Page Heading -->
  <div class="d-sm-flex align-items-center justify-content-between mb-4">
    <h1 class="h3 mb-0 text-gray-800" style="margin-top: 20px">
      Notifications
    </h1>
  </div>
  <div class="row">
    {% if user.is_superuser %}
    <!-- Total Customers -->
    <div class="col-xl-3 col-md-6 mb-4">
      <div class="card border-left-success shadow h-100 py-2">
        <div class="card-body">
          <div class="row no-gutters align-items-center">
            <div class="col mr-2">
              <div
                class="text-xs font-weight-bold text-primary text-uppercase mb-1"
              >
                Total Customers
              </div>
              <div class="h5 mb-0 font-weight-bold text-gray-800">
                {{total_customers}}
              </div>
            </div>
            <div class="col-auto">
              <i class="fas fa-users fa-2x text-gray-300"></i>
            </div>
          </div>
        </div>
      </div>
    </div>
    {% else %}
    <div></div>
    {% endif %}

    <!-- Total Products -->
    <div class="col-xl-3 col-md-6 mb-4">
      <div class="card border-left-warning shadow h-100 py-2">
        <div class="card-body">
          <div class="row no-gutters align-items-center">
            <div class="col mr-2">
              <div
                class="text-xs font-weight-bold text-primary text-uppercase mb-1"
              >
                Total Products
              </div>
              <div class="h5 mb-0 font-weight-bold text-gray-800">
                {{ total_products }}
              </div>
            </div>
            <div class="col-auto">
              <i class="fas fa-list-alt fa-2x text-gray-300"></i>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- Total Orders -->
    <div class="col-xl-3 col-md-6 mb-4">
      <div class="card border-left-danger shadow h-100 py-2">
        <div class="card-body">
          <div class="row no-gutters align-items-center">
            <div class="col mr-2">
              <div
                class="text-xs font-weight-bold text-primary text-uppercase mb-1"
              >
                Total Orders
              </div>
              <div class="h5 mb-0 font-weight-bold text-gray-800">
                {{ total_orders }}
              </div>
            </div>
            <div class="col-auto">
              <i class="fas fa-box fa-2x text-gray-300"></i>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- Total Orders -->
    <div class="col-xl-3 col-md-6 mb-4">
      <div class="card border-left-primary shadow h-100 py-2">
        <div class="card-body">
          <div class="row no-gutters align-items-center">
            <div class="col mr-2">
              <div
                class="text-xs font-weight-bold text-primary text-uppercase mb-1"
              >
              Total  Messages
              </div>
              <div class="h5 mb-0 font-weight-bold text-gray-800">
                {{ total_messages }}
              </div>
            </div>
            <div class="col-auto">
              <i class="fas fa-envelope fa-2x text-gray-300"></i>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="d-sm-flex align-items-center justify-content-between mb-4">
    <h1 class="h3 mb-0 text-gray-800" style="margin-top: 20px">
      Broadcast Message
    </h1>
  </div>
  {% for message in messages %} {% if message %}
  <div class="alert alert-{{ message.tags }}">{{ message }}</div>
  {% endif %} {% endfor %}
    <form method="POST">
      {% csrf_token %}
      <div class="col-6 col-md-6" style="float: left">
        {{ form.message|as_crispy_field }}
      </div>
      <div class="col-3 col-md-3" style="float: left">
        {{ form.broadcast_on|as_crispy_field }}
      </div>
      <div class="col-3 col-md-3">
        <input class="btn btn-success btn-block" type="submit" />
      </div>
    </form>
  {% else %}
  <div class="card shadow mb-4" style="margin-top: 30px">
    <div class="card-header py-3">
      <h6 class="m-0 font-weight-bold text-primary">Available Products</h6>
    </div>
    <div class="card-body">
      <div>
        <div class='row'>
          {% for product in product %}
          <div class='col-md-4'>
            <div class='box_man' style='width:100%;border:1px solid gray;padding:25px;border-radius:5px;'>
              <h3 class='mobile_text' style='font-size:30px;color:gray;text-align:center;font-wight;bold;text-transform:uppercase;'>{{ product.category }}</h3>
              {% if product.image %}
              <div class="computer_img" style='width:100%;text-align:center;height:300px;'><img src="{{ product.image.url }}" alt="{{ product.title }}" style='height:300px;width:100%;object-fit:cover' class='responsive'></div>
              {% endif %}
              <h4 class="computer_text" style='width:100%;font-size:24px;color:gray;text-align:center;font-weight:bold;'>{{ product.vendor.first_name }}</h4>
              <div class="computer_text_main" style='width:60%;display:flex;justify-content:space-between;margin:0 auto;text-align:center;align-items:center;'>
                <h4 class="dell_text" style='font-size:20px;color:blue;font-weight:bold;width:100%;'>{{ product.title }}</h4>
                <h6 class="price_text" style='font-size:16px;color:#ff5d68;font-weight:bold;width:100%;'>${{ product.price }}</h6>
                <h6 class="price_text_1"style='font-size:14px;color:#636262;font-weight:bold;width:100%;'>{{ product.pack_size }}</h6>
             </div>
             {% if user.is_authenticated %}
             <div class="cart_bt_1" style='width:110px;margin:0 auto;margin-top:10px;'><a href="{% url 'view-product' product.slug %}" style='width:100px; font-size:14px;color:white;background-color:#ff5d68;text-align;cenetr;padding:8px 6px;' class='btn'>Add To Cart</a></div>
             {%else %}
             <div class="cart_bt_1" style='width:110px;margin:0 auto;margin-top:10px;'><a href="{% url 'login'%}" style='width:100px; font-size:14px;color:white;background-color:#ff2268;text-align;cenetr;padding:8px 6px;' class='btn '>Add To Cart</a></div>
             {% endif %}
            </div>
          </div>
          {% endfor %}
        </div>
      </div>
    </div>
  </div>
  {% endif %}
</div>


{% endblock %}
