{% block content %}
        <div class='wrapper'>
            <div class='details'>
              Date : {{my_date}}
                <hr class='hrItem' />
            </div>
        </div>
        <br>        
            <div class="col-md-12">
                <div class='table-responsive'>
                    <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                        <thead class="thead-dark">
                            <tr>
                                <th scope="col">Ordered By</th>
                                <th scope="col">Date Ordered</th>
                                <th scope="col">Email</th>
                                <th scope="col">Number</th>
                                <th scope="col">Payment Method</th>
                                <th scope="col">Order Status</th>
                        
                                <!-- <th>Quantity</th> -->
                            </tr>
                        </thead>
                        <tbody>
                            {% for orders in orders %}
                            <tr style="text-align: center;">    
                                <td>{{ orders.first_name }} {{orders.last_name}}</td>
                                <td>{{ orders.created_at }}</td>
                                <td>{{ orders.email }}</td>
                                <td>{{ orders.phone }}</th>
                                <td>{{ orders.payment_method }}</td>
                                <td>{{ orders.order_status }}</td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table> 
                </div> 
            </div>
        

{% endblock %}