{% extends 'body/base.html' %}  
{% block title %} Add Users{% endblock  %}
{% load crispy_forms_tags %}
{% block content %}

<div class="container-fluid">
    <!-- Page Heading -->
    <div class="d-sm-flex align-items-center justify-content-between mb-4">
        <h1 class="h3 mb-0 text-gray-800" style='margin-top:20px;'>Message</h1>
    </div>
    <div class='row my-4'>
        <div class='col-md'>
            <div class='row'>
                <div class='col-md-8'>
                    <table class="table bg-white table-borderless">
                        <tbody>
                            <tr>
                                <th scope="row">Email</th>
                                <td>{{ reply.email }}</td>
                            </tr>
                            <tr>
                                <th scope="row">Phone Number</th>
                                <td>{{ reply.phone_number }}</td>
                            </tr>
                            <tr>
                                <th scope="row">Message</th>
                                <td>{{ reply.message }}</td>
                            </tr>
                        </tbody>
                    </table>
                    <hr/>
                    <div class="d-sm-flex align-items-center justify-content-between mb-4">
                        <h1 class="h3 mb-0 text-gray-800" style='margin-top:20px;'>Reply</h1>
                    </div>
                    <form action="#" class="contact-form">
                        <div>
                          <input type="email" name='email' class="form-control rounded border-white mb-3 form-input" id="name" placeholder="Email" required>
                        </div>
                        <div>
                          <input type="subject" name='subject' class="form-control rounded border-white mb-3 form-input" placeholder="Subject" required>
                        </div>
                        <div>
                          <textarea id="message" name='message' class="form-control rounded border-white mb-3 form-text-area" rows="5" cols="30" placeholder="Message" required></textarea>
                        </div>
                        <div class="submit-button-wrapper">
                          <input type="submit" value="Send">
                        </div>
                      </form>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}