{% extends 'body/base.html' %}  
{% block title %}Orders{% endblock  %}
{% block content %}

<div class="container-fluid">
    <!-- Page Heading -->
    <div class="d-sm-flex align-items-center justify-content-between mb-4">
        <h1 class="h3 mb-0 text-gray-800" style='margin-top:20px;'>Order Details</h1>
    </div>
    
    <div class="card shadow mb-4" style='margin-top:30px;'>
        <div style='margin-top:12px;'></div>
        
        <div class="card-body">
            <div class='table-responsive'>
                    <table class="table bg-white table-borderless">
                        <tbody> 
                          
                            <tr>
                                <th scope="row">Ordered By</th>
                                <td>{{details.first_name}} {{details.last_name }}</td>
                            </tr>
                            <tr>
                                <th scope="row">Date Ordered</th>
                                <td>{{details.created_at }}</td>
                            </tr>
                            <tr>
                                <th scope="row">Email</th>
                                <td>{{details.email }}</td>
                            </tr>
                            <tr>
                                <th scope="row">Phone Number</th>
                                <td>{{details.phone }}</td>
                            </tr>
                            <tr>
                                <th scope="row">Delivery Address</th>
                                <td>{{details.address }}</td>
                            </tr>
                            <tr>
                                <th scope="row">Payment Method</th>
                                <td>{{details.payment_method }}</td>
                            </tr>
                            <tr>
                                <th scope="row">Order Status</th>
                                <td>{{details.order_status }}</td>
                            </tr> 
                            <tr>
                                <th scope="row">Total Amount</th>
                                <td>$ {{details.paid_amount }}</td>
                            </tr>   
                        </tbody>
                    </table>
                    <hr />
                    
                    <div class="div-table">
                        <div class="div-table-row">
                           <div class="div-table-col edit">Product</div>
                           <div  class="div-table-col edit">Price</div>
                           <div  class="div-table-col edit">Quantity</div>
                           <div  class="div-table-col edit">Total Price</div>
                        </div>
                        {% for item in details.items.all %}
                        {% if item.vendor == request.user.vendor %}
                       <div class="div-table-row">
                        
                            <div class="div-table-col edit2" >{{ item.product.title }}</div>
                           <div class="div-table-col edit2">{{ item.product.price }}</div>
                           <div class="div-table-col edit2">{{ item.quantity }}</div>
                           <div class="div-table-col edit2">{{ item.get_total_price }}</div>
                        
                       </div>
                       {% endif %}
                       {% endfor %}
                    </div>
                    <div style='margin-top:20px;'></div>
                    <form action="{% url 'change_status' details.id %}" method='POST'>
                        {% csrf_token %}
                        <select name='status' class='edit3'>
                            {% for i, j in status  %}
                            <option value="{{i}}" {% if i == details.order_status %}selected{% endif %}>{{j}}</option>
                            {% endfor %}
                        </select>
                        <button class='btn btn-success'>Update</button>
                    </form>
            </div>
        </div>    
    </div>
</div>
<style type='text/css'>
    .div-table {
        display: table;      
        border-radius: 5px;   
        width: auto;         
        background-color: #eee;         
        border: 2px solid #9FC9F3;         
        border-spacing: 5px; /* cellspacing:poor IE support for  this */
      }
      .div-table-row {
        display: table-row;
        width: auto;
        clear: both;
      }
      .div-table-col {
        float: left; /* fix for  buggy browsers */
        display: table-column;         
        width: 200px;         
        background-color: #ccc;
          
      }
      .edit{
        font-weight:bold;
        text-transform: uppercase;
        background-color:#7FBCD2;
        padding: 2px;
        color:black;
      }
      .edit2{
        background-color:transparent;
        color:#3120E0;
        font-weight:bold;
        padding: 2px;
      }
      .edit3{

      }
      select {

        /* styling */
        background-color: white;
        border: thin solid blue;
        border-radius: 4px;
        display: inline-block;
        font: inherit;
        line-height: 1.5em;
        padding: 0.5em 3.5em 0.5em 1em;
      
        /* reset */
      
        margin: 0;      
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
        -webkit-appearance: none;
        -moz-appearance: none;
      }

      select.edit3 {
        background-image:
          linear-gradient(45deg, transparent 50%, gray 50%),
          linear-gradient(135deg, gray 50%, transparent 50%),
          linear-gradient(to right, #7FBCD2, #7FBCD2);
        background-position:
          calc(100% - 20px) calc(1em + 2px),
          calc(100% - 15px) calc(1em + 2px),
          calc(100% - 2.5em) 0.5em;
        background-size:
          5px 5px,
          5px 5px,
          1px 1.5em;
        background-repeat: no-repeat;
      }
      
      select.edit3:focus {
        background-image:
          linear-gradient(45deg, green 50%, transparent 50%),
          linear-gradient(135deg, transparent 50%, green 50%),
          linear-gradient(to right, #7FBCD2, #7FBCD2);
        background-position:
          calc(100% - 15px) 1em,
          calc(100% - 20px) 1em,
          calc(100% - 2.5em) 0.5em;
        background-size:
          5px 5px,
          5px 5px,
          1px 1.5em;
        background-repeat: no-repeat;
        border-color: #7FBCD2;
        outline: 0;
      }
      
      
      select:-moz-focusring {
        color: transparent;
        text-shadow: 0 0 0 #000;
      }

      option{
        font-weight: bold;
      }
</style>

{% endblock  %}