{% extends 'body/base.html' %} 
{% block title %}Products{% endblock %} 
{% load crispy_forms_tags %} 
{% block content %}

<div class="container-fluid">
  <!-- Page Heading -->
  <div class="d-sm-flex align-items-center justify-content-between mb-4">
    <h1 class="h3 mb-0 text-gray-800" style="margin-top: 20px">
      {{ vendor.first_name }} {{ vendor.last_name }}
    </h1>
  </div>
  
<div class="card shadow mb-4" style="margin-top: 30px">
  <div class="card-header py-3">
    <h6 class="m-0 font-weight-bold text-primary">Available Products</h6>
  </div>
  <div class="card-body">
    <div>
      <div class='row'>
        {% for product in vendor.products.all %}
        <div class='col-md-4'>
          <div class='box_man' style='width:100%;border:1px solid gray;padding:25px;border-radius:5px;min-height:210;margin-bottom:20px;'>
            <h3 class='mobile_text' style='font-size:30px;color:gray;text-align:center;font-wight;bold;text-transform:uppercase;'>{{ product.category }}</h3>
            {% if p.image %}
            <div class="computer_img" style='width:100%;text-align:center;height:300px;'><img src="{{ product.image.url }}" alt="{{ product.title }}" style='height:300px;width:100%;object-fit:cover' class='responsive'></div>
            {% endif %}
            <h4 class="computer_text" style='width:100%;font-size:24px;color:gray;text-align:center;font-weight:bold;'>{{ product.vendor.first_name }}</h4>
          <!--  <div class="computer_text_main" style='width:60%;display:flex;justify-content:space-between;margin:0 auto;text-align:center;align-items:center;'>-->
              <h4 class="dell_text" style='font-size:20px;color:blue;font-weight:bold;width:100%; margin:0 auto;text-align:center;align-items:center; width:100%'>{{ product.title }}</h4>
              <h6 class="price_text" style='font-size:16px;color:#ff5d68;font-weight:bold;width:100%;margin:0 auto;text-align:center;align-items:center;width:100%'>${{ product.price }}</h6>
              <h6 class="price_text_1"style='font-size:14px;color:#636262;font-weight:bold;width:100%;margin:0 auto;text-align:center;align-items:center;width:100%'>{{ product.pack_size }}</h6>
          <!--- </div>-->
           {% if user.is_authenticated %}
           <div class="cart_bt_1" style='width:110px;margin:0 auto;margin-top:10px;'><a href="{% url 'view-product' product.slug %}" style='width:100px; font-size:14px;color:white;background-color:#ff5d68;text-align;cenetr;padding:8px 6px;' class='btn'>Add To Cart</a></div>
           {%else %}
           <div class="cart_bt_1" style='width:110px;margin:0 auto;margin-top:10px;'><a href="{% url 'login'%}" style='width:100px; font-size:14px;color:white;background-color:#ff2268;text-align;cenetr;padding:8px 6px;' class='btn '>Add To Cart</a></div>
           {% endif %}
          </div>
        </div>
        {% endfor %}
      </div>
    </div>
  </div>
</div>


</div>


  {% endblock %}